<div class="coming-soon-root">
  <div class="scroll-phrase scroll-phrase-top">
    <span>
      INSPIRED BY <span class="highlight">CONTRADICTION</span>, DRIVEN BY CARE
    </span>
  </div>
  <div #canvasContainer class="canvas-container"></div>
  <div class="scroll-phrase scroll-phrase-bottom">
    <span>
      LEAVE LIGHTER AT <span class="highlight">HEART</span> -- NOT JUST FOR THE SHOW. BUT THE <span
        class="highlight">PURPOSE</span>
    </span>
  </div>
  <div class="artist-reveal">
    <span class="artist-reveal-underline">Artist soon to be revealed</span>
  </div>
</div>