.feature-section {

  position: relative;
  overflow: hidden;
  display: flex;
  padding: 4rem;
}

.about-menu {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: transparent;
  position: relative;
}

.about-menu ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.about-menu li {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2vh;
  transition: color 0.2s, text-decoration 0.2s;
  line-height: 1;
  user-select: none;
  text-align: left;
  position: relative;
}

.about-menu li.selected {
  color: #FF7A00;
  text-decoration: none;
}

.menu-number {
  position: absolute;
  left: -2vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1vw;
  font-weight: 400;
  color: #FF7A00;
  margin: 0;
  vertical-align: middle;
}

.about-content {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 3vw;
}

.about-content-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  color: #fff;
  max-width: 80%;
  margin-top: 0.5vh;
}