

<section class="feature-section">
  <canvas #threeCanvas class="three-bg"></canvas>
  <div class="feature-content whyus-flex">
    <div class="whyus-menu">
      <button *ngFor="let opt of menuOptions"
              (mouseenter)="setHovered(opt.key)"
              (mouseleave)="setHovered(null)">
        {{ opt.label | translate }}
      </button>
    </div>
    <div class="whyus-text">
      <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
      <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
      <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
<section class="feature-section">
<section class="feature-section">
<section class="feature-section">
<section class="feature-section">
  <canvas #threeCanvas class="three-bg"></canvas>
  <div class="feature-content whyus-flex">
    <div class="whyus-menu">
      <button *ngFor="let opt of menuOptions"
              (mouseenter)="setHovered(opt.key)"
              (mouseleave)="setHovered(null)">
        {{ opt.label | translate }}
      </button>
    </div>
    <div class="whyus-text">
      <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
      <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
      <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
    </div>
  </div>
</section>
  <canvas #threeCanvas class="three-bg"></canvas>
  <div class="feature-content whyus-flex">
    <div class="whyus-menu">
      <button *ngFor="let opt of menuOptions"
              (mouseenter)="setHovered(opt.key)"
              (mouseleave)="setHovered(null)">
        {{ opt.label | translate }}
      </button>
    </div>
    <div class="whyus-text">
      <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
      <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
      <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
    </div>
  </div>
</section>
  <canvas #threeCanvas class="three-bg"></canvas>
  <div class="feature-content whyus-flex">
    <div class="whyus-menu">
      <button *ngFor="let opt of menuOptions"
              (mouseenter)="setHovered(opt.key)"
              (mouseleave)="setHovered(null)">
        {{ opt.label | translate }}
      </button>
    </div>
    <div class="whyus-text">
      <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
      <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
      <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
    </div>
  </div>
</section>
  <canvas #threeCanvas class="three-bg"></canvas>
  <div class="feature-content whyus-flex">
    <div class="whyus-menu">
      <button *ngFor="let opt of menuOptions"
              (mouseenter)="setHovered(opt.key)"
              (mouseleave)="setHovered(null)">
        {{ opt.label | translate }}
      </button>
    </div>
    <div class="whyus-text">
      <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
      <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
      <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
    </div>
  </div>
</section>
    </div>
  </div>
</section>
  <section class="feature-section">
    <canvas #threeCanvas class="three-bg"></canvas>
    <div class="feature-content whyus-flex">
      <div class="whyus-menu">
        <button *ngFor="let opt of menuOptions"
                (mouseenter)="setHovered(opt.key)"
                (mouseleave)="setHovered(null)">
          {{ opt.label | translate }}
        </button>
      </div>
      <div class="whyus-text">
        <h2>{{ 'WHYUS.TITLE' | translate }}</h2>
        <p *ngIf="hoveredOption; else desc">{{ hoveredTextKey | translate }}</p>
        <ng-template #desc><p>{{ 'WHYUS.DESCRIPTION' | translate }}</p></ng-template>
      </div>
    </div>
  </section>
