<section class="feature-section">
  <div #threeBg class="three-bg"></div>
  <div class="blur-overlay" [class.active]="isPointHovered"></div>
  
  <div class="content-wrapper">
    <div class="points-list">
      <div class="point-item" (mouseenter)="onPointHover(true)" (mouseleave)="onPointHover(false)">
        <div class="point-number">P<br>0.<br>1</div>
        <div class="point-content">
          <h3 class="point-title">{{ 'WHY_US.POINT_1.TITLE' | translate }}</h3>
          <p class="point-description">{{ 'WHY_US.POINT_1.DESCRIPTION' | translate }}</p>
        </div>
      </div>

      <div class="point-item" (mouseenter)="onPointHover(true)" (mouseleave)="onPointHover(false)">
        <div class="point-number">P<br>0.<br>2</div>
        <div class="point-content">
          <h3 class="point-title">{{ 'WHY_US.POINT_2.TITLE' | translate }}</h3>
          <p class="point-description">{{ 'WHY_US.POINT_2.DESCRIPTION' | translate }}</p>
        </div>
      </div>

      <div class="point-item" (mouseenter)="onPointHover(true)" (mouseleave)="onPointHover(false)">
        <div class="point-number">P<br>0.<br>3</div>
        <div class="point-content">
          <h3 class="point-title">{{ 'WHY_US.POINT_3.TITLE' | translate }}</h3>
          <p class="point-description">{{ 'WHY_US.POINT_3.DESCRIPTION' | translate }}</p>
        </div>
      </div>

      <div class="point-item" (mouseenter)="onPointHover(true)" (mouseleave)="onPointHover(false)">
        <div class="point-number">P<br>0.<br>4</div>
        <div class="point-content">
          <h3 class="point-title">{{ 'WHY_US.POINT_4.TITLE' | translate }}</h3>
          <p class="point-description">{{ 'WHY_US.POINT_4.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

</section>